.feed-item .zm-item-meta {
  margin-bottom: 0;
}


.zm-item-meta {
  position: relative;
  margin-bottom: 5px;
  color: #999;
}

.clearfix {
}

.zm-item-meta .zm-meta-panel {
  background: transparent;
}

.meta-item+.meta-item {
  margin-left: 7px;
}


.zm-meta-panel {
  padding: 5px 0;
  margin-bottom: -5px;
  background: #fff;
}

.zm-meta-panel .zg-follow {
  color: #999;
}


.zm-meta-panel>a, .zm-meta-panel>span {
  color: #999;
  display: inline-block;
  vertical-align: middle;
}

div[contentEditable], input, textarea, button, a:link {
  -webkit-tap-highlight-color: rgba(225,225,225,.5);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all
.icon, i[class^=z-icon-], .modal-dialog-title-close, .goog-option-selected .goog-menuitem-checkbox, .zg-content-img-icon, .zg-content-video-icon, .tr-icon, .tr-inline-icon, .zg-icon, .icon-external, .feed-item .ignore, .side-topic-item .up, .side-topic-item .delete, .zu-edit-button-icon, .zg-blue-edit, .zm-add-question-detail-icon, .zh-hovercard-arrow, .zu-top-live-icon, .zm-profile-details-items .zm-profile-tag-btn, .zm-item-top-btn, .zm-profile-icon, .zm-profile-header-icon, .zm-profile-empty-icon, .zu-global-notify-icon, .zu-global-notify-close, .zm-modal-dialog-guide-title-msg, .zm-modal-dialog-guide-title-dropdown, .zm-noti7-popup-tab-item .icon, .zu-noti7-popup .zu-top-live-icon, .icon-info, .icon-green-check, .icon-big-arrow-left, .icon-big-arrow-right, .icon-weibo, .icon-qzone, .icon-weibo-corner, .icon-big-white-sina, .icon-big-white-qq, .icon-big-white-mail, .icon-sign-arrow {
  background-image: url(../images/main/sprites-1.9.2@2x.png);
  background-size: 308px 250px;
}

i[class^=z-icon-], i[class*=" z-icon-"] {
  display: inline-block;
  line-height: 10px;
  vertical-align: 0;
  background-image: url(../images/main/sprites-1.9.2.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}

.z-icon-follow {
  width: 8px;
  height: 9px;
  background-position: -97px -23px;
}

i, em {
  font-style: italic;
}

.zm-comment-box {
  margin: 10px 0 35px;
  background: #fff;
/*  max-width: 540px;*/
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.zm-comment-box .zm-comment-bubble {
  position: absolute;
  top: -8px;
  left: 81px;
  display: none;
}
.zg-anchor-hidden {
  top: -48px;
  position: relative;
  display: block;
  width: 0;
  font: 0/0 a;
}

.zm-item-meta {
  position: relative;
  margin-bottom: 5px;
  color: #999;
}

.zm-item-comment {
  position: relative;
  margin: 0 12px;
  padding: 8px 0;
}

.zg-anchor-hidden {
  top: -48px;
  position: relative;
  display: block;
  width: 0;
  font: 0/0 a;
}

.zm-item-comment>.zm-item-link-avatar {
  float: left;
  margin: 4px 0 0;
}

.zm-item-comment .zm-item-img-avatar {
  width: 25px;
  height: 25px;
  border-radius: 2px;
}

.zm-item-comment .zm-comment-content-wrap {
  margin: 0 0 0 35px;
}

.zm-item-comment .zm-comment-hd, .zm-item-comment .zm-comment-ft {
  color: #999;
}

div[contentEditable], input, textarea, button, a:link {
  -webkit-tap-highlight-color: rgba(225,225,225,.5);
}

.zg-link {
  cursor: pointer;
  text-decoration: none;
}

a {
  color: #259;
  text-decoration: none;
}


.icon-spike {
  position: absolute;
  top: -8px;
  left: 23px;
  width: 13px;
  height: 8px;
  background-position: -200px -165px;
}

.icon, .tr-icon, .tr-inline-icon, .goog-option-selected .goog-menuitem-checkbox, .zu-edit-button-icon, .zu-top-live-icon, .zh-global-backtotop, .zh-hovercard-arrow, .modal-dialog-title-close, .icon-external, .zg-icon, .zm-profile-icon, .zm-profile-header-icon, .icon-info, .icon-green-check, .icon-big-arrow-left, .icon-big-arrow-right, .icon-weibo, .icon-qzone, .icon-weibo-corner, .icon-big-white-sina, .icon-big-white-qq, .icon-big-white-mail, .icon-sign-arrow {
  width: 16px;
  height: 16px;
  background-image: url(../images/main/sprites-1.9.2.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}




